[Unit]
Description=Fake Sony Dualshock Controller Userspace Driver Daemon
Requires=systemd-udevd.service

[Service]
ExecStart=/usr/local/bin/ds4drv --fake --emulate-fake
Restart=on-failure
RestartSec=5

[Install]
Alias=ds4drv
RequiredBy=systemd-udevd.service
